<div class="col-lg-2 col-md-2 col-sm-2 container justify-content-center">
    <table>
        <tbody>
            <tr>
                <td class="text-right"><label class="mr-2">Id :</label></td>
                <td>{{bus.id}}</td>
            </tr>
            <tr>
                <td class="text-right"><label class="mr-2">Depo :</label></td>
                <td>{{bus.depo}}</td>
            </tr>
            <tr>
                <td class="text-right"><label class="mr-2">To :</label></td>
                <td>{{bus.to}}</td>
            </tr>
            <tr>
                <td class="text-right"><label class="mr-2">From :</label></td>
                <td>{{bus.from}}</td>
            </tr>
            <tr>
                <td class="text-right"><label class="mr-2">Driver :</label></td>
                <td>{{bus.driver}}</td>
            </tr>

            <tr>
                <td class="text-right"><label class="mr-2">Total Seats :</label></td>
                <td>{{bus.totalseats}}</td>
            </tr>
            <tr>
                <td class="text-right"><label class="mr-2">Avilable Seats :</label></td>
                <td>{{bus.avilableseats}}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-6 text-center">
            <button class="btn btn-primary btn-md" (click)="update();">Update</button>
        </div>
        <div class="col-sm-6 ">
            <button class="btn btn-danger btn-md" (click)="delete();">Delete</button>
        </div>
    </div>

</div>